{% extends "base.html" %}

{% block content %}
<style>
    #image-editor {
        width: 685px;
        box-shadow: 0 2px 41px 10px #6b82af1a;
        height: 500px;
    }
</style>

<main class="container">

    <div class="w-100" id="image-editor"></div>
</main>
{% endblock %}

{% block scripting %}
<script src="https://scaleflex.cloudimg.io/v7/plugins/filerobot-image-editor/latest/filerobot-image-editor.min.js"></script>
<script src="{{ url_for('static', filename='js/image_editor.js') }}"></script>
{% endblock %}