pytest==7.2.0
pytest-cov~=4.0.0
Flask~=2.2.2
Flask-CORS~=3.0.10
Flask-Login==0.6.2
Flask-WTF==1.0.1
Werkzeug~=2.2.2
SQLAlchemy~=1.4.44
flask-sqlalchemy==3.0.2
email_validator==1.3.0
click~=8.1.3
WTForms~=3.0.1
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
pyflakes==3.0.1
flake8==6.0.0
pdfkit==1.0.0
websauna~=1.0a13
Flask-OpenID==1.3.0
PyVirtualDisplay==3.0
selenium==4.7.2
liveandletdie==0.0.8
Flask-QRcode==3.1.0