{% extends "base.html" %}

{% block content %}
<div class="background-image_kupid_login">
<main class="form-signin center-form">

    <form method="post">
        {{ form.csrf_token }}

        <h1 class="h3 mb-3 fw-normal">Please log in</h1>

        <div class="form-floating">
            <input autocomplete="on" class="form-control top" id="email" name="email" placeholder="name@example.com"
                   required type="email">
            <label for="email">Email address</label>
            {% for error in form.email.errors %}
            <p class="validation-error">[{{ error }}]</p>
            {% endfor %}
        </div>
        <div class="form-floating">
            <input class="form-control bottom" id="password" name="password" placeholder="Password" required
                   type="password">
            <label for="password">Password</label>
            {% for error in form.password.errors %}
            <p class="validation-error">[{{ error }}]</p>
            {% endfor %}
        </div>

        <div class="checkbox mb-3">
            {{ form.remember_me() }}
            {{ form.remember_me.label }}
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>

</main>
</div>>
{% endblock %}

