{% extends "base.html" %}

{% block content %}
<div class="container mb-5">
    <h1 class="my-2">Profil użytkownika</h1>

    <div class="row align-items-md-stretch">
        <div class="col-md-4">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Konto</h2>
                <p>Email: {{ current_user.email }}</p>
                <p>Data utworzenia: {{ current_user.registered_on.strftime("%d.%m.%Y") }}</p>
            </div>
        </div>

        <div class="col-md-8">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Dane wesela</h2>

                <form action="{{ url_for('users.profile') }}" method="POST">
                    <input id="wife"
                           name="wife"
                           placeholder="Żona"
                           type="text"
                           value="{{ wedding.get_wife() }}">

                    <input id="husband"
                           name="husband"
                           placeholder="Mąż"
                           type="text"
                           value="{{ wedding.get_husband() }}">

                    <input id="city"
                           name="city"
                           placeholder="Miejscowość"
                           type="text"
                           value="{{ wedding.get_city() }}">

                    <input id="date"
                           name="date"
                           placeholder="Data"
                           type="date"
                           value="{{ wedding.get_date_form() }}">

                    <button type="submit">Zapisz</button>
                </form>
            </div>
        </div>

        <div class="col-md-12">
            <div class="h-100 p-5 bg-primary text-white border rounded-3 my-4">
                <h2>Import danych weselnych</h2>

                <form action="{{ url_for('photo.import_book') }}"
                      enctype="multipart/form-data"
                      method="POST">
                    <input
                            accept="application/cupid"
                            class="file"
                            name="file"
                            type="file">

                    <input type="submit" value="Zatwierdź">

                </form>

            </div>
        </div>

    </div>
</div>
{% endblock %}
