{% extends "base.html" %}

{% block styling %}
<link href="{{ url_for('static', filename='css/user_profile_style.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="my-2">Profil użytkownika</h1>

  <div class="row align-items-md-stretch">
    <div class="col-md-4">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Konto</h2>
        <p>Email: {{ current_user.email }}</p>
        <p>Data utworzenia: {{ current_user.registered_on.strftime("%B %d, %Y") }}</p>
      </div>
    </div>

    <div class="col-md-8">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Zmienne globalne oraz statusy</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Key</th>
              <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>FLASK_ENV</td>
              <td>{{ flask_env }}</td>
            </tr>
            <tr>
              <td>2</td>
              <td>DEBUG</td>
              <td>{{ debug }}</td>
            </tr>
            <tr>
              <td>3</td>
              <td>TESTING</td>
              <td>{{ testing }}</td>
            </tr>
            <tr>
              <td>4</td>
              <td>UPLOAD_PATH</td>
              <td>{{ upload_path }}</td>
            </tr>
            <tr>
              <td>5</td>
              <td>SQLALCHEMY_DATABASE_URI</td>
              <td>{{ sqlalchemy_database_uri }}</td>
            </tr>
            <tr>
              <td>6</td>
              <td>LOG_TO_STDOUT</td>
              <td>{{ log_to_stdout }}</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Database initialized</td>
              <td>{{ database_initialized }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

  <div class="p-5 my-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h2 class="display-5 fw-bold">Wgrane grafiki</h2>

      <div class="row text-center text-lg-start">
        {% for file in files %}
        <div class="col-lg-3 col-md-4 col-6">
          <a class="d-block mb-4 h-100" href="{{ url_for('recipes.download_file', filename=file) }}" target="_blank">
            <img alt="" class="img-fluid img-thumbnail" src="{{ url_for('recipes.download_file', filename=file) }}">
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
