{% extends "base.html" %}

{% block styling %}
<link href="{{ url_for('static', filename='css/photo.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<main class="container">
    <div class="p-5 my-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold">Zdjęcia</h2>

            <div class="img-container">
                <div class="imgs-wrapper">

                    <div class="uploaded-imgs">
                        {% for file in files %}
                        <img class="uploaded-img"
                             src="{{ url_for('recipes.download_file', filename=file) }}">
                        {% endfor %}
                    </div>

                    <input
                            accept="image/*"
                            class="add-img"
                            id="add-image"
                            multiple
                            name="image"
                            type="file"
                    />

                </div>
            </div>

        </div>
    </div>

    <div class="w-100" id="image-editor"></div>
</main>
{% endblock %}

{% block scripting %}
<script src="https://scaleflex.cloudimg.io/v7/plugins/filerobot-image-editor/latest/filerobot-image-editor.min.js"></script>
<script src="{{ url_for('static', filename='js/image_editor.js') }}"></script>
{% endblock %}