#image-editor {
    width: 685px;
    box-shadow: 0 2px 41px 10px #6b82af1a;
    height: 500px;
}

.imgs-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 6px;
    column-gap: 6px;
    max-height: 106px;
    overflow: auto;
}

.wrapper::-webkit-scrollbar {
    width: 5px;
    color: #dfe1ec;
}

.imgs-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f9fafc;
}

.imgs-wrapper::-webkit-scrollbar-thumb {
    background-color: #dfe1ec;
    border-radius: 4px;
    height: 50px;
}

.uploaded-img {
    width: 50px;
    height: 50px;
    background-size: cover;
    border: 2px solid #ffff;
    border-radius: 4px;
    cursor: pointer;
}

.uploaded-img[data-image-editor-active-image=""] {
    border: 2px solid #3daba4;
    transition: border 250ms ease-in-out;
}

.generate-img {
    width: 50px;
    height: 50px;
    border: 1px solid #dfe1ec;
    border-radius: 4px;
    background-color: #fff;
}

.book-preview {
    height: 500px;
}