{% extends "base.html" %}

{% block content %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img class="d-block mx-lg-auto img-fluid" height="500" loading="lazy"
                 src="https://cdn.pixabay.com/photo/2018/02/21/14/22/cluster-3170449_960_720.png" width="700">
        </div>

        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Kupid Albumy Weselne</h1>
            <p class="lead text-justify">
                Specjalizujemy się w tworzeniu eleganckich albumów ślubnych w formie pliku PDF lub HTML, które można
                edytować i personalizować według własnych preferencji.
                Nasze albumy są łatwe w użyciu i dostępne na każdym urządzeniu. Dzięki temu, że są one w formie pliku,
                można je łatwo udostępnić rodzinie i przyjaciołom.<br>

            <p class="mt-1 text-justify">Dziękujemy za zaufanie i mamy nadzieję, że będziemy mogli stworzyć dla Ciebie
                niepowtarzalną pamiątkę.</p>
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-3">

                {% if current_user.is_authenticated %}
                <a class="btn btn-light btn-lg px-4 me-md-2" href="{{ url_for('users.profile') }}" type="button">Mój
                    Profil</a>
                {% else %}
                <a class="btn btn-primary btn-lg px-4 me-md-2" href="{{ url_for('users.login') }}" type="button">Logowanie</a>
                <a class="btn btn-outline-secondary btn-lg px-4" href="{{ url_for('users.register') }}" type="button">Rejestracja</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
